# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Hoc_lap_trinh\Module_2\Week3_module2\Thuat Toan Tim Kiem\TH-ThuatToanTimKiemNhiPhanKhongSuDungDeQuy\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
